@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  color: #252525;
}

@keyframes transform-animation {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.1) rotate(5deg);
  }
  65% {
    transform: scale(1.1) rotate(-5deg);
  }
  100% {
    transform: scale(1);
  }
}
.transform-animation {
  animation: transform-animation 1s ease-in-out;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  background: #0090FF;
  border: 2px solid #0090FF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}
.btn i {
  display: inline-block;
  padding-left: 5px;
  font-size: 14px;
}
.btn:active {
  opacity: 0.7;
}
.btn.btn-secondary {
  background: transparent;
  border-color: #252525;
  color: #252525;
}

body.dark .btn-secondary {
  border-color: #FFF;
  color: #FFF;
}

.input {
  padding: 15px;
  background: #EFF0F4;
  outline: none;
  border: 2px solid #EFF0F4;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.25s;
}
.input:focus {
  border-color: #0090FF;
}

.toggle {
  position: relative;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
.toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  border-radius: 20px;
  transition: 0.3s;
}
.toggle::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0090FF;
  transition: 0.3s;
}
.toggle:checked::before {
  background: #0090FF;
}
.toggle:checked::after {
  left: 29px;
  background: #FFF;
}

.heading-1 {
  font-size: 70px;
  font-weight: 600;
}

.heading-2 {
  font-size: 23px;
  font-weight: 500;
}

.body-text {
  font-style: 16px;
  font-weight: 300;
  line-height: 30px;
}

.header {
  width: 100%;
  padding: 20px 0;
}
.header__brand {
  position: relative;
}
.header__brand img {
  position: absolute;
  width: 130px;
}
.header__brand img.dark {
  opacity: 0;
}
.header__theme-switcher {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #EFF0F4;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.header__theme-switcher i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.header__theme-switcher i.dark {
  opacity: 0;
}
.header__theme-switcher.active {
  background-color: #FFF;
}
.header__theme-switcher.active i.dark {
  opacity: 1;
}
.header__theme-switcher.active i.light {
  opacity: 0;
}

.main-section__info {
  padding-top: 50px;
}
.main-section__info .body-text {
  padding-top: 10px;
  padding-bottom: 40px;
}
.main-section__info .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
.main-section__info--img {
  margin-top: 50px;
  position: relative;
  height: 250px;
}
.main-section__info--img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.main-section__info--img img.dark {
  opacity: 0;
}
.main-section__info--contributer-box {
  width: 70%;
  margin: 50px auto;
  padding: 30px;
  background: #EFF0F4;
  text-align: center;
  border-radius: 10px;
}
.main-section__info--contributer-box h3, .main-section__info--contributer-box p {
  font-size: 14px;
  font-weight: 300;
}
.main-section__info--contributer-box a {
  color: #252525;
}
.main-section__playground {
  padding-top: 50px;
}
.main-section__playground .heading-2 {
  padding-bottom: 20px;
}
.main-section__playground .input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.main-section__playground .input-box input {
  flex-grow: 2;
}
.main-section__playground .input-box__num-btn {
  font-size: 14px;
  padding: 15px;
  background: #EFF0F4;
  border: 2px solid #EFF0F4;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  flex-grow: 1;
}
.main-section__playground .input-box__num-btn:focus {
  border-color: #0090FF;
}
.main-section__playground .copy-box {
  position: relative;
  margin-top: 30px;
  padding: 25px;
  height: 250px;
  background: #EFF0F4;
  border-radius: 10px;
  overflow: hidden;
}
.main-section__playground .copy-box #copyBoxText {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  background: none;
  outline: none;
  border: none;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}
.main-section__playground .copy-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #EFF0F4);
  pointer-events: none;
  z-index: 1;
}
.main-section__playground .copy-box .btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 2;
}
.main-section__playground #textForIteration {
  width: 100%;
}
.main-section__playground .settings-heading {
  padding-top: 40px;
}
.main-section__playground--togglers {
  padding-bottom: 50px;
}
.main-section__playground--togglers > h2 {
  padding-top: 20px;
}
.main-section__playground .toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #EFF0F4;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
}
.main-section__guide {
  padding-top: 50px;
}
.main-section__guide--frame {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  background: #EFF0F4;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}
.main-section__guide .body-text {
  padding-bottom: 20px;
}
.main-section__guide .heading-2 {
  padding-bottom: 10px;
}
.main-section__guide .share-heading {
  padding-top: 50px;
}
.main-section__guide .share-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: #252525;
  color: #FFF;
  font-size: 16px;
  margin-bottom: 50px;
}
.main-section__guide .share-box .btn {
  background: none;
  border: none;
}
.main-section__guide .author-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: #EFF0F4;
  border-radius: 10px;
}
.main-section__guide .author-box__img {
  width: 90px;
  border-radius: 50%;
  margin-right: 20px;
}
.main-section__guide .author-box__info .job {
  font-size: 14px;
  font-weight: 300;
  color: #707070;
}
.main-section__guide .author-box__info .name {
  font-size: 20px;
  font-weight: 500;
}
.main-section__guide .author-box__info--links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 15px;
  background: #252525;
  border-radius: 50%;
}

.footer {
  padding: 30px 0;
  margin-top: 100px;
  background: #EFF0F4;
  text-align: center;
}

body.dark {
  color: #EFF0F4;
  background: #010101;
}
body.dark .heading-1, body.dark .heading-2 {
  color: #FFF;
}
body.dark .header__brand img.light {
  opacity: 0;
}
body.dark .header__brand img.dark {
  opacity: 1;
}
body.dark .main-section__info--img img.light {
  opacity: 0;
}
body.dark .main-section__info--img img.dark {
  opacity: 1;
}
body.dark .main-section__info--contributer-box {
  background: #252525;
}
body.dark .main-section__info--contributer-box a {
  color: #FFF;
}
body.dark .main-section__playground .input, body.dark .main-section__playground .input-box__num-btn {
  background: #252525;
  color: #EFF0F4;
}
body.dark .main-section__playground .copy-box {
  background: #252525;
}
body.dark .main-section__playground .copy-box #copyBoxText {
  color: #EFF0F4;
}
body.dark .main-section__playground .copy-box::before {
  background: linear-gradient(to bottom, transparent, #252525);
}
body.dark .main-section__playground .toggler {
  background: #252525;
}
body.dark .main-section__guide .author-box {
  background: #252525;
}
body.dark .main-section__guide .author-box .job {
  color: #EFF0F4;
}
body.dark .main-section__guide .author-box a {
  background: #707070;
}
body.dark .footer {
  background: #252525;
}

@media only screen and (max-width: 767px) {
  .header #themeSwitcherBtn {
    width: 36px;
    height: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
